#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-container {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #ffff;
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 15px;
}

.nav-list-item {
  padding: 5px;
  border-radius: 10px;
}

.nav-list-item:hover {
  border: solid;
}

.marketplace-post-container-outer {
  height: 800px;
  width: 32%;
  min-width: 490px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 20%;

  text-align: left;
  overflow-y: hidden;

  background-color: #ffff;
}

.marketplace-post-container-inner {
  min-width: 340px;
  height: 150%;
  overflow-y: auto;
  scrollbar-width: thin;
  
  background-color: #ffff;
  
  padding: 75px;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 1em;
}

.marketplace-post-img-container {
  padding: 10px;
  border-width: 1px;
  border-radius: 15px;
  width: 400px;
  position: relative;
}

.marketplace-post-img {
  border-radius: 25px;
}

.marketplace-post-type {
  position: absolute;
  width: 130px;
  height: 30px;
  margin: 30px;
  width: 165px;
  background-color: #ffff;
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
  border-radius: 10px;

}

.marketplace-post-condition {
  position: absolute;
  width: 130px;
  height: 30px;
  margin: 30px;
  width: 165px;
  background-color: #ffff;
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
  border-radius: 10px;
  top: 50px;
}

.marketplace-post-price {
  position: absolute;
  top: 90px;
  width: 130px;
  height: 30px;
  margin: 30px;
}

.marketplace-post-input {
  
  height: 25px;
  border: solid;
  border-width: 1px;
  
  border-radius: 5px;
  width: 95%;
  min-width: 1px;
  padding: 10px;

  align-self: flex-start;
  flex-shrink: 5;
}
.marketplace-post-input:hover {
  border-width: 2px;
}

.marketplace-post-input-large {
  
  height: 85px;
  border: solid;
  border-width: 1px;
  
  border-radius: 5px;
  width: 95%;
  min-width: 1px;
  max-width: 95%;
  padding: 10px;

  scrollbar-width: thin;

  align-self: flex-start;
  flex-shrink: 5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.marketplace-post-input-large:hover {
  border-width: 2px;
}

.post-listing {
  /*
  margin-left: 50px;
  width: 80%;
  */

  width: 100%;
  font-weight: bold;
}
.post-listing:hover {
  background-color: #1778f2;
}



.craigslist-posts-container-outer {
  height: 800px;
  width: 690px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  right: 5%;

  text-align: left;
  overflow-y: hidden;

  background-color: #ffff;
}

.craigslist-posts-container-inner {
  height: 90%;
  overflow-y: auto;
  scrollbar-width: thin;
  display: grid;
  grid-template-columns: 220px 220px 220px;
}

.craigslist-post {
  margin: 20px;
  border-radius: 5px;

  width: 200px;
  height: 200px;
  background-color: #ecf1ff;
  overflow: hidden;


  margin-top: 5px;

  background-color: #ffff;
}

.craigslist-post-img {
  display: block;
}

.craigslist-post-title {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: -5px;
}

